<!-- spacer section -->
<section class="spacer green">
    <div class="container">
        <div class="row">
            <div class="span6 aligncenter flyLeft">
                <img src="{{site.baseurl}}/assets/img/XCQTORlogo.jpg" alt="">
            </div>
            <div class="span6 alignleft flyRight">
                <blockquote class="large">
                Faith is Believe Based On an Absence of Data. <cite>Damian Wayne, Son Of Batman.</cite>
                </blockquote>
            </div>
            <div class="span6 alignleft flyRight">
                <p>Lorem ipsum dolor sit amet, omnes theophrastus vel an, choro euismod ea eum. Ne vix dico sint, diam accusata usu ea. No nulla
                nobis gloriatur qui, legere labores persequeris ut vis. Tritani dissentiet at his. Vix facete patrioque et,
                mucius doming quo at. Pri in tempor aperiam apeirian, ex vim veri solet minimum. Oporteat deseruisse sed
                ut. An diam summo posidonium quo. Has te amet probo, at tale dignissim per, ad civibus invidunt detraxit
                nam.</p>
                <a href="{{site.baseurl}}/about.html" class="btn btn-small alignRight">Read More</a>
            </div>
            
        </div>
    </div>
</section>
<!-- end spacer section -->